---
---

@import "{{ site.theme }}";

.main-content {
  max-width: unset;
}

table {
  width: 100%;
}

body section.page-header {
    padding: 0px;
}

.main-content table th, .main-content table td {
    border: 1px solid black;
}

.main-content table tr:hover th, .main-content table tr:hover td {
    background-color: #d2f28c;
}
